.main-img {
  position: absolute;
  top: 30px;
  /* width: 1320px; */
  height: 695px;
  margin-left: 370.36px;
}

.main-pastBook-container {
  position: absolute;
  width: 242px;
  height: 327.24px;
  top: 230px;
  left: 535px;
  padding: 0;
}

/* 커버 정보 */
.book-container {
  width: 242px;
  height: 327.24px;
  perspective: 1700px;
  cursor: pointer;
  padding: 0px;
}
.main-pastBook {
  width: 242px;
  height: 327.24px;
}

.main-pastBook,
.main-pastBook::before {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.main-pastBook {
  transform-style: preserve-3d;
  background-position: center;
  transition: all 0.3s;
  position: relative;
}
.main-pastBook::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  transform: rotateY(100deg);
  transform-origin: 0 50%;
  filter: brightness(70%);
}
.main-pastBook:hover {
  transform: rotateY(30deg) scale(1.1);
}
.main-pastBook > span {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 70px;
  font-size: 30px;
  color: black;
}

.main-pastBook > span {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 70px;
  color: black;
}

.skinZero,
.skinZero::before {
  background-image: url("https://autobiography.s3.ap-northeast-2.amazonaws.com/1620747619023.png");
  background-size: 242px 327px;
}
.skinOne,
.skinOne::before {
  background-image: url("https://autobiography.s3.ap-northeast-2.amazonaws.com/1620747657994.png");
  background-size: 242px 327px;
}
.skinTwo,
.skinTwo::before {
  background-image: url("https://autobiography.s3.ap-northeast-2.amazonaws.com/1620747682861.png");
  background-size: 242px 327px;
}
.skinThree,
.skinThree::before {
  background-image: url("https://autobiography.s3.ap-northeast-2.amazonaws.com/1621263240811.png");
  background-size: 242px 327px;
}

.main-futureBook-container {
  position: absolute;
  width: 231.66px;
  height: 327.24px;
  top: 230px;
  left: 865px;
}

/* 네브바 */
.navbar {
  position: sticky;
  float: left;
  top: 0;
  width: 113px;
  height: 100vh;
  background-color: white;
  border-right: thick double brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navtab {
  width: 100%;
  margin-bottom: 10px;
}

.navtab:hover {
  background-color: #e3dac9;
}

.navtab-logo {
  width: 100%;
}

.navlogo {
  display: block;
  width: 100px;
  margin-bottom: 0;
}

.navbar-question-container {
  display: block;
  width: 1523px;
  background-color: blue;
  color: white;
}
.navbar-question-container:hover .navbar-question {
  display: block;
}

.question {
  display: flex;
  position: sticky;
  top: 0;
  width: 1423px;
  height: 30px;
  margin-left: 113.1px;
  background-color: #493732;
  color: white;
}

input[id="menuicon"] {
  display: none;
}
input[id="menuicon"] + label {
  display: block;
  margin-left: 113px;
  z-index: 2;
  /* absolute의 기준이 되도록 position relative */
  position: relative;
  cursor: pointer;
}
input[id="menuicon"] + label i {
  display: block;
  /* position: absolute; */
  width: 100%;
  height: 5px;
  border-radius: 30px;
  transition: all 0.35s;
  color: white;
}
.sidebar {
  display: flex;
  justify-content: center;
  margin-left: 113.1px;
  text-align: center;
  width: 1400px;
  height: 30px;
  background: var(--color-dark);
  color: var(--color-white);
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 0.35s;
}
/* input 다음에 있는 label, label 다음에 있는 div 선택 */
input[id="menuicon"]:checked + label + div {
  top: -30px;
  display: none;
}

input[id="menuicon"] + label + i {
  display: block;
  width: 60px;
  height: 50px;
  position: fixed;
  right: 0;
  top: calc(50% - 25px);
  transition: all 0.35s;
  cursor: pointer;
  z-index: 2;
}
input[id="menuicon"]:checked + label {
  z-index: 2;
}
