/* body {
  overflow: hidden;
} */

#iconImg {
  width: 52px;
  vertical-align: bottom;
}

#flipbook {
  width: 1026px;
  height: 670px;
  /* margin: auto; */
  margin: auto !important;
}

#flipbook .page {
  width: 1026px;
  height: 670px;
  background-color: white;
  /* line-height: 300px;
  font-size: 20px; */
  text-align: left;
}

#flipbook .page-wrapper {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
}

#flipbook .hard {
  /* background: #ccc !important; */
  background: #ccc;
  color: #333;
  box-shadow: inset 0 0 5px #666;
  font-weight: bold;
}

#flipbook .odd {
  background-color: yellow;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0.95, #fff),
    color-stop(1, #dadada)
  );
  background-image: -webkit-linear-gradient(right, #fff 95%, #c4c4c4 100%);
  background-image: -moz-linear-gradient(right, #fff 95%, #c4c4c4 100%);
  background-image: -ms-linear-gradient(right, #fff 95%, #c4c4c4 100%);
  background-image: -o-linear-gradient(right, #fff 95%, #c4c4c4 100%);
  /* background-image: linear-gradient(right, #fff 95%, #c4c4c4 100%); */
  -webkit-box-shadow: inset 0 0 5px #666;
  -moz-box-shadow: inset 0 0 5px #666;
  -o-box-shadow: inset 0 0 5px #666;
  -ms-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 5px #666;
}

#flipbook .even {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.95, #fff),
    color-stop(1, #dadada)
  );
  background-image: -webkit-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -moz-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -ms-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -o-linear-gradient(left, #fff 95%, #dadada 100%);
  /* background-image: linear-gradient(left, #fff 95%, #dadada 100%); */
  -webkit-box-shadow: inset 0 0 5px #666;
  -moz-box-shadow: inset 0 0 5px #666;
  -o-box-shadow: inset 0 0 5px #666;
  -ms-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 5px #666;
}

.book-content {
  margin: 60px 40px 35px 40px;
  height: 575px;
  overflow: hidden;
}

.read-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.read-select-buttons {
  display: flex;
  flex-direction: column;
}
.readpast-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: auto;
  cursor: pointer;
}
.readpast-index:hover {
  background-color: var(--color-hover);
}
.button-container {
  /* line-height: 500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 513px;
  height: 700px;
  padding: 10%;
}

.button-each {
  width: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-each:hover {
  background-color: var(--color-hover);
}

.select-font {
  font-family: GyeonggiBatang;
  font-size: var(--font-large);
}

.read-title-box {
  height: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 40px 35px 40px;
  border: 1px solid black;
}

.read-index-title {
  text-align: center;
}

.read-title {
  margin-top: -75px;
}

.read-button-box {
  display: flex;
}

.odd .read-button-box {
  justify-content: flex-end;
  margin-right: 40px;
}

.odd .read-button-box button {
  margin: 0px 10px 0px 10px;
}

.odd .read-button-box button p {
  margin: 0;
}
.even .read-button-box {
  justify-content: flex-start;
  margin-left: 40px;
}

.even .read-button-box button {
  margin: 0px 10px 0px 10px;
}

.even .read-button-box button p {
  margin: 0;
}
