.create-container {
  display: flex;
  flex-direction: row;
}
.create-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-left-question-title {
  font-size: 40px;
}
.create-left-question-content {
  margin-top: 20px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-break: keep-all;
}
.create-left-question-button {
  margin-top: 50px;
  font-size: 10px;
  padding: 10px;
}
.create-right {
  width: 50%;
}
.create-right-form {
  margin-top: 50px;
}
.v-text-field
  > .v-input__control
  > .v-input__slot
  > .v-text-field__slot
  > label {
  font-size: 20px;
  top: 0px;
  overflow: visible;
}
.v-text-field
  > .v-input__control
  > .v-input__slot
  > .v-text-field__slot
  > input {
  font-size: 20px;
}
.create-right-year-label {
  font-size: 25px;
}
.create-right-select-year {
  margin-top: 10px;
}
.v-application--is-ltr .v-text-field .v-label {
  font-size: 20px;
}
.v-select.v-input--dense .v-select__selection--comma {
  font-size: 20px;
}
.v-select__selections {
  line-height: 30px;
}
.create-editor {
  /* margin-top: 30px; */
  /* padding: 30px; */
}
.create-right-btn {
  text-align: right;
}

.create-right-btn > button {
  margin: 10px;
}
