/* @font-face {
    font-family: 'Kwandong';
    src: url('../fonts/Kwandong.ttf') format('truetype');
} */
@font-face {
  font-family: "Kwandong-otf";
  src: url("../fonts/Kwandong.otf") format("opentype");
}
@font-face {
  font-family: "Kukde-aLt";
  src: url("../fonts/Kukde-aLt.otf") format("opentype");
}
@font-face {
  font-family: "Kukde-bBd";
  src: url("../fonts/Kukde-bBd.otf") format("opentype");
}

.member-kwandong {
  font-family: "Kwandong-otf";
  font-size: 2vw;
}
.writer-kwandong {
  font-family: "Kwandong-otf";
  font-size: 5vh;
  letter-spacing: 1vw;
  padding-bottom: 12px;
}
.validation-kwandong {
  font-family: "Kwandong-otf";
  font-size: 12px;
  color: red;
  margin-top: -17px;
}
.member-kukde-light {
  font-family: "Kukde-aLt";
  line-height: 5vw;
  font-size: 1.8vw;
  font-weight: 200;
}
.main-kukde-light {
  font-family: "Kukde-aLt";
  line-height: 3vw;
  font-size: 23px;
  font-weight: 200;
}
.nav-kukde-light {
  font-family: "Kukde-aLt";
  font-size: 20px;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
