.home {
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.151); */
}
video {
  width: 100%;
  opacity: 0.8;
}
.home-body {
  position: absolute;
  top: 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-body-about {
  display: flex;
  margin-top: -100px;
  margin-bottom: 30px;
}
.home-body-logo {
  width: 200px;
}
.home-body-logo > img {
  width: 100%;
  opacity: 0.7;
}
.home-body-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.home-title {
  font-size: 48px;
  color: #ffffff;
}
.home-content {
  color: #ffffff;
  font-size: 14px;
}
.home-body-btn {
  margin-top: 30px;
  text-align: center;
  opacity: 0.5;
}
.home-body-btn:hover {
  opacity: 1;
}

.home-body-question {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
}
.typing {
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  font-size: 18px;
  display: inline-block;
  max-width: 1000px;
  word-break: break-all;
  animation-name: cursor;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  border-right: 1px solid #ccc;
}

@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}
