.pastBook {
  position: absolute;
  top: 27%;
  left: 32%;
}

.navbar {
  position: sticky;
  float: left;
  top: 0;
  width: 113px;
  height: 100vh;
  background-color: white;
  border-right: thick double brown;
}

.navtab {
  width: 100%;
}

.navtab:hover {
  background-color: #e3dac9;
}

.navlogo {
  display: block;
  width: 100px;
  margin-bottom: 0;
}

.navbar-question {
  height: 70vh;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
