@font-face {
  font-family: "GyeonggiBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --color-main: #f5f4ee;
  --color-dark: #231815;
  --color-white: #ffffff;
  --color-black: #141414;
  --color-hover: rgb(239, 239, 239);
  /* 폰트 color */
  --font-main: #231815;

  /* size */
  --font-large: 23px;
  --font-medium: 17px;
  --font-small: 13.5px;
  --size-button: 130px;
}

#app {
  font-family: GyeonggiBatang;
  color: #231815;
}

/* 각 페이지의 제목 */
.page-title-bold {
  font-family: GyeonggiTitleM;
  font-size: 25px;
  font-weight: 800;
}

.validation {
  font-family: GyeonggiBatang;
  font-size: 12px;
  font-weight: 800;
  color: red;
  margin-top: -17px;
  text-align: left;
}
